<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/main&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id </span><span class="s2">= &quot;@+id/title_view&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:text </span><span class="s2">= &quot;Welcome to Fiore Science&quot;</span>
        <span class="s1">android:textColor </span><span class="s2">= &quot;#000000&quot;</span>
        <span class="s1">android:textStyle </span><span class="s2">= &quot;bold&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;GridLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/title_view&quot;</span>
        <span class="s1">android:columnCount</span><span class="s2">=&quot;2&quot;</span>
        <span class="s1">android:rowCount</span><span class="s2">=&quot;2&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s0">&gt;</span>

        <span class="s0">&lt;androidx.cardview.widget.CardView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_row</span><span class="s2">=&quot;0&quot;</span>
            <span class="s1">android:layout_column</span><span class="s2">=&quot;0&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;fill&quot;</span>
            <span class="s1">android:layout_rowWeight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_columnWeight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s0">&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical|center_horizontal&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/resources&quot;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;RESOURCES&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>
        <span class="s0">&lt;androidx.cardview.widget.CardView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_row</span><span class="s2">=&quot;0&quot;</span>
            <span class="s1">android:layout_column</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;fill&quot;</span>
            <span class="s1">android:layout_rowWeight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_columnWeight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s0">&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical|center_horizontal&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/baseline_question_answer_24&quot;</span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;DAILY QUESTION&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>
        <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>
        <span class="s0">&lt;androidx.cardview.widget.CardView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_row</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_column</span><span class="s2">=&quot;0&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;fill&quot;</span>
            <span class="s1">android:layout_rowWeight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_columnWeight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s0">&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical|center_horizontal&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/calendar&quot;</span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;CALENDAR&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>
        <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>
        <span class="s0">&lt;androidx.cardview.widget.CardView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_row</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_column</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;fill&quot;</span>
            <span class="s1">android:layout_rowWeight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_columnWeight</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s0">&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical|center_horizontal&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/resources&quot;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;BLANK&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>
        <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>
    <span class="s0">&lt;/GridLayout&gt;</span>

<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>